@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-primary-50: #fef8ec;
  --color-primary-100: #f9e6b8;
  --color-primary-200: #f6d991;
  --color-primary-300: #f1bf58;
  --color-primary-400: #eea831;
  --color-primary-500: #e6871a;
  --color-primary-600: #cc6513;
  --color-primary-700: #a94614;
  --color-primary-800: #8a3716;
  --color-primary-900: #712f16;
  --color-primary-950: #411607;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}